<a href="" class="list-group-item" 
           ng-class="{ read: mail.read === true }" 
           data-mail-id="{{mail.id}}" 
           ui-sref="app.read({mailId:mail.id})">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="mail.selected">
        </label>
    </div>
    <span ng-class="mail.important ? 'glyphicon-star-empty' : 'glyphicon-star'" class="glyphicon"></span>
    <span class="name mail-sender">{{ mail.sender | limitTo:15 }}</span>
    <span class="">{{ mail.title | limitTo:30 }}</span>
    <span class="text-muted mail-content-short">- {{ mail.content | limitTo:50 }}</span>
    <span class="badge">{{ mail.date | date:'hh:mm a' }}</span>
    <span class="pull-right">
        <!-- <span class="glyphicon glyphicon-paperclip" ng-if="mail.withAttachment"></span> -->
        <span class="glyphicon glyphicon-paperclip"></span>
    </span>
</a>