<div class="col-sm-3 col-md-2">
    <a href="#" class="btn btn-danger btn-sm btn-block" role="button">COMPOSE</a>
    <hr />
    <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: isBoxActive('inbox') }"
            ng-click="openBox('inbox')"><a href=""><span class="badge pull-right">42</span> Inbox </a></li>
        <li ng-class="{ active: isBoxActive('starred') }"
            ng-click="openBox('starred')"><a href="">Starred</a></li>
        <li ng-class="{ active: isBoxActive('important') }"
            ng-click="openBox('important')"><a href="">Important</a></li>
        <li ng-class="{ active: isBoxActive('sent') }"
            ng-click="openBox('sent')"><a href="">Sent Mail</a></li>
        <li ng-class="{ active: isBoxActive('drafts') }"
            ng-click="openBox('drafts')"><a href=""><span class="badge pull-right">3</span>Drafts</a></li>
    </ul>
</div>