body{
    margin-top:50px;
}

.radio, .checkbox {
    min-height: 0; 
}

.tab-pane .list-group .checkbox {
    top: 5px; 
}

.nav-tabs .glyphicon:not(.no-margin) {
    margin-right: 10px; 
}

.tab-pane .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.tab-pane .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tab-pane .list-group .checkbox {
    display: inline-block;
    margin: 0px; 
}

.tab-pane .list-group input[type="checkbox"]{
    margin-top: 2px; 
}

.tab-pane .list-group .glyphicon {
    margin-right: 5px; 
}

.tab-pane .list-group .glyphicon:hover {
    color: #FFBC00; 
}

a.list-group-item.read {
    color: #222;
    background-color: #F3F3F3; 
}

hr {
    margin-top: 5px;
    margin-bottom: 10px; 
}

.nav-pills>li>a {
    padding: 5px 10px;
}


.mail-sender {
    min-width: 120px;
    display: inline-block;
}

.mail-content-short {
    font-size: 11px;
}

.full-mail {
    margin-top: 10px;
}

.full-mail-sender {
    margin-left: 10px;
}

.full-mail-content { 
    font: 1.25em Arial,sans-serif;
    line-height: 1.5;
    font-weight: 200;
    color: #676767;
    background: rgba(238, 238, 238, .2); 
    width: 95%; 
    margin: 20px auto; 
    padding: 20px; 
    min-height: 200px;
}

/*============================================
=            Sticky footer styles            =
============================================*/

html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.footer .text-muted {
    padding: 20px;
    text-align: center;
}

/*=====  End of Sticky footer styles  ======*/




/*===================================
=            Calc styles            =
===================================*/

.calc-div {
    width: 450px;
}

.calc-div span {
    padding-top:10px;
}


.calc-div .small-font {
    font-size:9px;
}

.calc-div .pad-adjust {
    padding-top:10px;
}

.calc-popup {
    width: 540px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 540px !important;
}

/*=====  End of Calc styles  ======*/
