<ul class="nav nav-tabs" ng-if="$state.current.name.indexOf('contacts') === -1">
    <li class="active">
        <a href="#home" data-toggle="tab">
            <span class="glyphicon glyphicon-inbox"></span>
            Primary
        </a>
    </li>
    <li>
        <a href="#profile" data-toggle="tab">
            <span class="glyphicon glyphicon-user"></span>
            Social
        </a>
    </li>
    <li>
        <a href="#messages" data-toggle="tab">
            <span class="glyphicon glyphicon-tags"></span>
            Promotions
        </a>
    </li>
    <li>
        <a href="#settings" data-toggle="tab">
            <span class="glyphicon glyphicon-plus no-margin"></span>
        </a>
    </li>
</ul>