<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Mail <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-href="#/mail">Mail</a></li>
                <li><a href="" ng-click="topNavCtrl.showCalc()">Currency Calculator</a></li>
                <li><a href="" ui-sref="app.contacts.list">Contacts</a></li>
                <li><a href="" ng-click="topNavCtrl.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9 col-md-10" ng-if="$state.current.name.indexOf('contacts') === -1">
        <!-- Split button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default" style="min-height: 34px;">
                <div class="checkbox" style="margin: 0;">
                    <label>
                        <input type="checkbox" ng-model="topNavCtrl.selectAllCheckbox">
                    </label>
                </div>
            </button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="topNavCtrl.select('all')">All</a></li>
                <li><a href="" ng-click="topNavCtrl.select('none')">None</a></li>
                <li><a href="">Read</a></li>
                <li><a href="">Unread</a></li>
                <li><a href="">Starred</a></li>
                <li><a href="">Unstarred</a></li>
            </ul>
        </div>
        <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh" ng-click="topNavCtrl.refresh()">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
        <!-- Single button -->
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                More <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Mark all as read</a></li>
                <li class="divider"></li>
                <li class="text-center"><small class="text-muted">Select messages to see more actions</small></li>
            </ul>
        </div>
        <div class="pull-right">
            <span class="text-muted"><b>{{topNavCtrl.firstMail}}</b>–<b>{{topNavCtrl.lastMail}}</b> of <b>{{topNavCtrl.totals[topNavCtrl.box].all}}</b></span>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-click="topNavCtrl.goToPage('back')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="topNavCtrl.goToPage('forward')">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>